language: php
git:
  depth: 5

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"

install:
  - composer install --no-progress --no-scripts --no-suggest -n

script:
   - ./vendor/bin/grumphp run
